<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Redis + mongodb</title>
</head>
<body>
    <div><label> 用户名 : <input type="text" value="user"/> </label></div>
    <div><label> 密码: <input type="password" value="123456"/> </label></div>
    <div><a href="/smsa">发送验证码</a></div>
    <div><span th:text="${send}" style="color: chartreuse"></span></div>
    <div><span th:text="${fail}" style="color: red"></span></div>
    <div><label>验证码: <input id="sms" type="text" name="sms"/></label></div>
    <div><span th:text="${sms}"></span></div>
    <div><button onclick="smssss()">登录</button></div>
    <div><span th:text="${no}" style="color: red"></span></div>

    <script>
        function smssss() {
            var num = document.getElementById("sms").value;
            window.location.href="/index/"+num;
        }
    </script>

</body>
</html>