<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Redis + mongodb</title>
</head>
<body>
    <div><label> 手机号 : <input type="text" id="phone" /></label></div>
    <div><button onclick="send()">发送验证码</button></div>
    <div><span th:text="${send}" style="color: chartreuse"></span></div>
    <div><span th:text="${fail}" style="color: red"></span></div>
    <div><label>验证码: <input id="sms" type="text" name="sms"/></label></div>
    <div><span th:text="${sms}"></span></div>
    <div><button onclick="smssss()">登录</button></div>
    <div><span th:text="${no}" style="color: red"></span></div>

    <script>
        function smssss() {
            var num = document.getElementById("sms").value;
            window.location.href="/index/"+num;
        }

        function send() {
            var phone = document.getElementById("phone").value;
            window.location.href="/smsa/"+phone;
        }
    </script>

</body>
</html>
